# Oracle Database Connection Settings
# Copy this file to .env and update with your credentials

# Database connection credentials
ORACLE_USERNAME=<schema user name>
ORACLE_PASSWORD=<password>
ORACLE_DSN=<hostip>:<port>/<service_id>

# Optional settings
ORACLE_ENCODING=UTF-8
ORACLE_THICK_MODE=False  # Set to True if using Oracle thick client

# MCP Server Configuration
MCP_PORT=8001
MCP_HOST=127.0.0.1

# Oracle Tools Log Level DEBUG | INFO | WARN | ERROR | CRITICAL
ORACLE_TOOLS_LOG_LEVEL=ERROR

# Oracle MCP Server Configuration

# Log Configuration
LOG_DIRECTORY=logs
LOG_FILENAME=oracle_mcp.log
# Tools Log Level DEBUG | INFO | WARN | ERROR | CRITICAL
LOG_LEVEL=ERROR
